// Media querie
small           =   '(max-width: ' + 664px + ')'  // s1 and s2
large           =   '(min-width: ' + 968px + ')'  // s3
beyond         =   '(min-width: ' + 1598px + ')' // s4

// Font base
base            =   16px

// Flex system
basis           =   6
gutter          =   32px

// Colors
black           =   #000000
dark            =   #032031
white           =   #ffffff

gray-darker     =   #66605d
gray-dark       =   #807974
gray            =   #8b8b8b
gray-light      =   #dce0e3
gray-lighter    =   #e8edf0

beige-darker    =   #bd833f
beige-dark      =   #ca9e46
beige           =   #f7f1eb

yellow-darker   =   #e6af64
yellow-dark     =   #e8b051
yellow          =   #f7c156
yellow-light    =   #f8c333
yellow-lighter  =   #dcd5ce

red             =   #d0021b

// Content delivery network
cdn             =   'http://cdn.glasstone-travel.com'
