.button
    backface-visibility hidden
    background-color yellow-light
    border-radius 2px

    color white
    cursor pointer
    display inline-block
    font-family 'francois-one'

    margin 0
    padding 10px 20px

    position relative
    user-select none
    text-align center
    text-overflow ellipsis
    text-shadow 1px 1px 1px alpha(dark, 0.1)
    text-transform uppercase

    transform scale(1)
    transition-duration 0.3s
    transition-property all
    transition-property transform
    transition-timing-function ease

    vertical-align top
    white-space nowrap

    &:active
        transform scale(0.9)

    &:hover
    &:focus
        background-color yellow-dark
        outline 0

.button--disable
.button[disabled]
    opacity 0.5
    pointer-events none

.button--large
    padding 10px 54px

.button--square
    height 40px
    padding 0
    width 40px

.button--square--small
    height 30px
    padding 0
    width 30px

.button--block
    padding-left 0
    padding-right 0
    width 100%

.button--trim
    margin 0 !important
    padding 0 !important

.button--clean
    background-color transparent

    &:hover
    &:focus
        background-color transparent

// Button add/sub controller
.button-controller
    user-select none
    display block
    margin-bottom 40px

.button-controller__input
    font-family 'tuna'
    font-size 30px
    height 40px
    line-height 1.23
    padding 0
    vertical-align middle
    width 40px

.button-controller__output
    font-family 'francois-one'
    font-size 48px
    line-height 40px
    margin 0 8px
    text-transform uppercase
    user-select none
    vertical-align middle

.button-controller__output--small
    font-size 20px
