.date-trigger
    display none

.date-pick
    color yellow
    cursor pointer
    font-family 'francois-one'
    font-size 24px
    line-height 1
    margin 0

    @media large
        line-height 58px

.date-pick__output
    font-size 48px
    line-height 1
    color dark

    @media small
        font-size 24px

    @media large
        line-height 45px

.date-pick__output-month
    font-size 16px
    margin-left 5px
    font-weight normal
    font-family 'roboto-regular'

.date-pick__arrow
    margin-left 5px
