.list__item
    margin-bottom 36px

    &:last-child
        margin-bottom 0

    & > *
        display inline-block
        vertical-align bottom

    & > i[class^='icon-']
        margin-right 10px

.list__item--small
    margin-bottom 20px

    & > *
        vertical-align middle

// Reservation value list
.list-values
    margin-bottom 14px

.list-values--sub
    padding-left 10px
    max-height 264px
    min-width 100%
    margin-bottom 0
    transition 0.2s ease-in-out

.list-values__term
.list-values__description
    margin-bottom 16px

    @media small
        margin-bottom 10px
        font-size 14px

.list-values__term
    width 70%
    padding-right 10px

.list-values__term--sub
    font-size 14px

    @media small
        font-size 12px

.list-values__description
    width 30%
    font-size 24px

    @media small
        font-size 18px

.list-values__total
    color yellow

.list-values__description--sub
    font-size 16px

    @media small
        font-size 12px

.list-values__note
    display block
    font-style italic

    @media small
        font-size 10px

.list-values__button

    @media small
        width 100%


